apiVersion: apps/v1
kind: Deployment
metadata:
  name: react
  namespace: learning01
spec:
  replicas: 1
  selector:
    matchLabels:
      app: react
  template:
    metadata:
      labels:
        app: react
    spec:
      containers:
        - name: react
          image: react-app:latest
          ports:
            - containerPort: 80       # Nginx inside container listens on 80
          imagePullPolicy: IfNotPresent
---
apiVersion: v1
kind: Service
metadata:
  name: react
  namespace: learning01
spec:
  type: ClusterIP
  selector:
    app: react
  ports:
    - port: 80
      targetPort: 80