# docker/docker-compose.build.yml
services:
  spring-api:
    build:
      context: ../spring-api          # path to Spring Boot source
      dockerfile: Dockerfile.spring   # relative to compose file (docker/)
    image: ghcr.io/laguerrefranckjimmy/spring-api:latest
    mem_limit: 1.2g

  vertx-service:
    build:
      context: ../vertx-service
      dockerfile: Dockerfile.vertx
    image: ghcr.io/laguerrefranckjimmy/vertx-service:latest
    mem_limit: 1g

  react-app:
    build:
      context: ../react-app
      dockerfile: Dockerfile.react
    image: ghcr.io/laguerrefranckjimmy/react-app:latest
    mem_limit: 800m
