name: CI/CD Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # allow manual trigger

jobs:
  deploy:
    runs-on: self-hosted   # your Ubuntu VM with Docker + K3s

    env:
      # GHCR_PAT: ${{ secrets.GHCR_PAT }}
      VM_IP: 10.0.2.15
      NIP_DOMAIN: nip.io

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Ensure deploy script is executable
      - name: Ensure deploy script is executable
        run: chmod +x ./scripts/ci-cd.sh

      # 3️⃣ Run deployment script
      - name: Run deployment
        run: ./scripts/ci-cd.sh